body {
  background: repeating-linear-gradient(
    225deg,
    #eba9a9 0%,
    #e9f19b 50%,
    #a8f0ff 100%
  );
}

h1 {
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 50px;
  font-family: "Cursive", "Lucida Handwriting";
}

.paragraph-title-one {
  background-color: #afaf8f;
  border-radius: 40px;
  font-size: 35px;
  margin-bottom: 100px;
  padding: 15px;
  /* width: auto; */
  display: inline;
}
.paragraph-one {
  background-color: #ebebca;
  border-radius: 20px;
  font-size: 25px;
  margin-bottom: 100px;
  padding: 10px;
  width: 50%;
  display: block;
}
.paragraph-title-two {
  background-color: #afaf8f;
  border-radius: 40px;
  font-size: 35px;
  margin-bottom: 100px;
  padding: 15px;
  /* width: auto; */
  display: inline;
}
.list-one {
  background-color: #afaf8f;
  border-radius: 40px;
  font-size: 35px;
  margin-bottom: 100px;
  padding: 15px;
  width: 60%;
  display: block;
}
