body {
  background: url(./assets/bground.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.index-one {
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 50px;
  font-family: "Cursive", "Lucida Handwriting";
}

.t-now {
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 50px;
  font-family: "Georgia", "serif";
}

.links {
  display: flex;
  margin-bottom: 50px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(225, 168, 233);
  opacity: 60%;
}

summary {
  cursor: pointer;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 15px;
  background-color: black;
}
